{% extends 'admintemp/admin_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
<form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group">
        <label>Attendance</label><br><br>
        <div>
            <input type="radio"name="attendance"value="present"required>p<br>
            <input type="radio"name="attendance"value="absent"required>A
            </div>
    </div>
    <button class="btn btn-info" type="submit">ADD</button>
</form>
              </div>
</div>
{% endblock %}